.message-enter {
  opacity: 0;
  transform: scale(1.1);
}

.message-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity, transform 1s ease;
}

.message-exit {
  opacity: 1;
}
.message-exit-active {
  opacity: 0;
  transition: opacity 1s ease;
}

.message-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
  .message-item {
    margin-bottom: 12px;

    padding: 10px 16px;
    line-height: 14px;
    font-size: 14px;

    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;

    pointer-events: all;
  }
}
