.mark {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  z-index: 999;
}
